body {
  background-color:pink;
color:#f9ffa0;
}
img {
  height: 200px;
}
.categoria-videos{
  display:flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria-videos img{
  opacity: 0.5;
}
.categoria-videos img:hover {
  opacity: 1.0;
  border: 5px solid plum;
}
header {
    border-bottom: solid 2px plum;
    padding: 20px;
    font-size: 32px;
    color: plum;
}
.categoria.cor{
color: plum;
}
section {
  background-color:rgb(250, 160, 205);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}